# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*.so

# ==========================================================
# Jupyter Notebook
# ==========================================================
.ipynb_checkpoints/

# ==========================================================
# macOS
# ==========================================================
.DS_Store

# ==========================================================
# VS Code
# ==========================================================
.vscode/

# ==========================================================
# Virtual Environments
# ==========================================================
venv/
.venv/
env/

# ==========================================================
# Data Files
# ==========================================================
data/raw/PS1.csv
data/processed/*

# Keep the processed folder in Git
!data/processed/.gitkeep

# ==========================================================
# Spark
# ==========================================================
spark-warehouse/
metastore_db/
*.log

# ==========================================================
# Miscellaneous
# ==========================================================
*.tmp
*.bak


#=========================================================
# Power BI
# Local Power BI input/output data
data/processed/*.csv
data/processed/*.parquet
data/processed/bridge_powerbi_data_temp/

# Temporary Power BI files
*.pbit.tmp
~$*.pbix