# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*.so

# ==========================================================
# Jupyter Notebook
# ==========================================================
.ipynb_checkpoints/

# ==========================================================
# macOS
# ==========================================================
.DS_Store

# ==========================================================
# VS Code
# ==========================================================
.vscode/

# ==========================================================
# Virtual Environments
# ==========================================================
venv/
.venv/
env/

# ==========================================================
# Raw Dataset (keep local only)
# ==========================================================
data/raw/PS1.csv

# ==========================================================
# Processed Data
# Ignore generated datasets but keep documentation
# ==========================================================
data/processed/*.csv
data/processed/*.parquet
data/processed/bridge_powerbi_data_temp/

!data/processed/README.md
!data/processed/.gitkeep

# ==========================================================
# Spark
# ==========================================================
spark-warehouse/
metastore_db/
*.log

# ==========================================================
# Temporary / Backup Files
# ==========================================================
*.tmp
*.bak

# ==========================================================
# Power BI
# ==========================================================
*.pbit.tmp
~$*.pbix